<!DOCTYPE html>
<html lang="en">
<head>

  {% block title %}<title>Centroid Observer</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>

  {% load static %}

  <style>
    body{
        background-color: #ebeff5;
    }
    #total-centroids{
        background-color: #2A7987;
    }
    #total-observations{
        background-color: #18434B;
    }
    #total-timestamps{
        background-color: #4CB4C7
    }
    #detail_observation{
        background-color: #4CB4C7
    }
    #current-centroid{
        background-color: #18434B;
    }
    #current-observation{
        background-color: #2A7987;
    }

  </style>
</head>
<body>

  {% include 'centroid_webapp/navbar.html'%}

  {% block content %}{% endblock %}
    </div>
  </div>
</body>

</html>