{% extends "base_generic.html" %}

{% block content %}

{% include 'centroid_webapp/status.html'%}

<br>

<div class='container'>
  <div class='row'>
    <div class='col-sm'>
      <div cass='row'>
        <h1>Centroid Home</h1>
      </div>
      <div class='row'>
        Welcome to Centroid Observations, a website developed by <br>Christopher Frame, <br>Lukas Reber and <br>Eugen Cuic!
      </div>
    </div>
    <div class='col-sm'>
      <div cass='row'>
        <h1>Instructions</h1>
      </div>
      <div class='row'>
        1. Search for the Group you would like to analyse into more dept bellow <br>
        2. Click on the corresponding image of the group <br>
        3. Wait until all the observations with the corresponding centroinds are loaded <br>
        4. Once the observations are loaded, click on the observation you want to analyse <br>
        5. Wait until the plot is loaded on the right hand side <br>
        6. If you want to analyse a different observation, just click on another one at the same page <br>
        7. If you want to start again, click on "Home" in the menue
      </div>
    </div>
  </div>

  <br>


{% include 'centroid_webapp/groups.html'%}

{% endblock %}