{% extends "base_generic.html" %}

{% block content %}

{% include 'centroid_webapp/status.html'%}

<br>

<div class='container'>
  <div class='row'>
    <div class='col-sm'>
      <div class='row'>
        <h2>Centroid Webapp Home</h2>
      </div>
      <div class='row'>
        Welcome to Centroid Observations, a website developed by <br>Christopher Frame, <br>Lukas Reber and <br>Eugen Cuic!
      </div>
    </div>
    <div class='col-sm'>
      <div class='row'>
        <h3>Instructions</h3>
      </div>
      <div class='row'>
        1. Search for the Group you would like to analyse into more dept below <br>
        2. Click on the corresponding image of the group <br>
        3. Wait until all the observations with the corresponding centroids are loaded <br>
        4. Once the observations are loaded, click on the observation you want to analyse <br>
        5. Wait until the plots are loaded<br>
        6. Check the high level summary of the plot on the right hand side<br>
        7. If you want to check more detailed plots chose an Image type<br>
        8. Chose a step of the observation you want to check<br>
        9. Check the more detailed plots with slits below the highlevel plot<br>
        10. If you want to analyse a different Image type, chose another Image type <br>
        11. If you want to analyse a different step, chose another from the drop down menu<br>
        12. If you want to analyse a different observation from the same centroid, just click on another one at the same page <br>
        13. If you want to start again, click on "Home" in the menu<br>
      </div>
    </div>
  </div>

  <br>
  
  {% load static %}
  <div class = 'container-fluid'>
  {% for num in images_num %}

    {% if forloop.first %}<div class="row">{% endif %}
      <div class="col-sm">
        <a href="/centroid_webapp/observations/{{num}}&0&0&0">
        <img src="{% static 'images/' "" %}{{num}}.png" class='img-fluid' alt='Responsive image'>
        </a>    
    </div>
      {% if forloop.counter|divisibleby:4 %}</div><br><div class="row">{% endif %}
      {% if forloop.last %}</div>{% endif %}
    {% endfor %}


{% endblock %}
