{% extends "base_generic.html" %}

{% block content %}

{% include 'centroid_webapp/status.html'%}

<br>

<div class='container'>
  <div class='row'>
    <div class='col-sm'>
      <h1>Centroid Home</h1>
    </div>
    <div class='col-sm'>
      Welcome to Centroid Observations, a website developed by Christopher Frame, Lukas Reber and Eugen Cuic!
    </div>
    <div class='col-sm'>
      <h1>Instructions</h1>
    </div>
    <div class='col-sm'>
        This Website is helpin you to analyse Centroids on the Magnesium
        bla bla bla
    </div>
    </div>
  </div>

  <br>

  <form method="GET"> 
    {% csrf_token %} 
    {{ form.as_p }} 
    <input type="submit" value="Submit"> 
</form> 
  
{% endblock %}

