{% load static %}

<div class="container-fluid">
        <div class="row">
                <div class="col-sm">
                        <img src="{% static 'images/1.png'%}" class='img-fluid' alt='Responsive image'>
                </div>
                <div class="col-sm">
                        <img src="{% static 'images/2.png'%}" class='img-fluid' alt='Responsive image'>
                </div>
                <div class="col-sm">
                        <img src="{% static 'images/3.png'%}" class='img-fluid' alt='Responsive image'>
                </div>
                <div class="col-sm">
                        <img src="{% static 'images/4.png'%}" class='img-fluid' alt='Responsive image'>
                </div>
                <div class="col-sm">
                        <img src="{% static 'images/5.png'%}" class='img-fluid' alt='Responsive image'>
                </div>
        </div>
      <br>
        <div class="row">
                <div class="col-sm">
                        <img src="{% static 'images/6.png'%}" class='img-fluid' alt='Responsive image'>
                </div>
                <div class="col-sm">
                        <img src="{% static 'images/7.png'%}" class='img-fluid' alt='Responsive image'>
                </div>
                <div class="col-sm">
                        <img src="{% static 'images/8.png'%}" class='img-fluid' alt='Responsive image'>
                </div>
                <div class="col-sm">
                        <img src="{% static 'images/9.png'%}" class='img-fluid' alt='Responsive image'>
                </div>
                <div class="col-sm">
                        <img src="{% static 'images/10.png'%}" class='img-fluid' alt='Responsive image'>
                </div>
        </div>
      <br>
        <div class="row">
                <div class="col-sm">
                        <img src="{% static 'images/11.png'%}" class='img-fluid' alt='Responsive image'>
                </div>
                <div class="col-sm">
                        <img src="{% static 'images/12.png'%}" class='img-fluid' alt='Responsive image'>
                </div>
                <div class="col-sm">
                        <img src="{% static 'images/13.png'%}" class='img-fluid' alt='Responsive image'>
                </div>
                <div class="col-sm">
                        <img src="{% static 'images/14.png'%}" class='img-fluid' alt='Responsive image'>
                </div>
                <div class="col-sm">
                        <img src="{% static 'images/15.png'%}" class='img-fluid' alt='Responsive image'>
                </div>
        </div>
      <br>
              <div class="row">
                <div class="col-sm">
                        <img src="{% static 'images/16.png'%}" class='img-fluid' alt='Responsive image'>
                </div>
                <div class="col-sm">
                        <img src="{% static 'images/17.png'%}" class='img-fluid' alt='Responsive image'>
                </div>
                <div class="col-sm">
                        <img src="{% static 'images/18.png'%}" class='img-fluid' alt='Responsive image'>
                </div>
                <div class="col-sm">
                        <img src="{% static 'images/19.png'%}" class='img-fluid' alt='Responsive image'>
                </div>
                <div class="col-sm">
                        <img src="{% static 'images/20.png'%}" class='img-fluid' alt='Responsive image'>
                </div>
        </div>
      <br>
              <div class="row">
                <div class="col-sm">
                        <img src="{% static 'images/21.png'%}" class='img-fluid' alt='Responsive image'>
                </div>
                <div class="col-sm">
                        <img src="{% static 'images/22.png'%}" class='img-fluid' alt='Responsive image'>
                </div>
                <div class="col-sm">
                        <img src="{% static 'images/23.png'%}" class='img-fluid' alt='Responsive image'>
                </div>
                <div class="col-sm">
                        <img src="{% static 'images/24.png'%}" class='img-fluid' alt='Responsive image'>
                </div>
                <div class="col-sm">
                        <img src="{% static 'images/25.png'%}" class='img-fluid' alt='Responsive image'>
                </div>
        </div>
      <br>
              <div class="row">
                <div class="col-sm">
                        <img src="{% static 'images/26.png'%}" class='img-fluid' alt='Responsive image'>
                </div>
                <div class="col-sm">
                        <img src="{% static 'images/27.png'%}" class='img-fluid' alt='Responsive image'>
                </div>
                <div class="col-sm">
                        <img src="{% static 'images/28.png'%}" class='img-fluid' alt='Responsive image'>
                </div>
                <div class="col-sm">
                        <img src="{% static 'images/29.png'%}" class='img-fluid' alt='Responsive image'>
                </div>
                <div class="col-sm">
                        <img src="{% static 'images/30.png'%}" class='img-fluid' alt='Responsive image'>
                </div>
        </div>
      <br>
        <div class="row">
                <div class="col-sm">
                        <img src="{% static 'images/31.png'%}" class='img-fluid' alt='Responsive image'>
                </div>
                <div class="col-sm">
                        <img src="{% static 'images/32.png'%}" class='img-fluid' alt='Responsive image'>
                </div>
                <div class="col-sm">
                        <img src="{% static 'images/33.png'%}" class='img-fluid' alt='Responsive image'>
                </div>
                <div class="col-sm">
                        <img src="{% static 'images/34.png'%}" class='img-fluid' alt='Responsive image'>
                </div>
                <div class="col-sm">
                        <img src="{% static 'images/35.png'%}" class='img-fluid' alt='Responsive image'>
                </div>
        </div>
      <br>
        <div class="row">
                <div class="col-sm">
                        <img src="{% static 'images/36.png'%}" class='img-fluid' alt='Responsive image'>
                </div>
                <div class="col-sm">
                        <img src="{% static 'images/37.png'%}" class='img-fluid' alt='Responsive image'>
                </div>
                <div class="col-sm">
                        <img src="{% static 'images/38.png'%}" class='img-fluid' alt='Responsive image'>
                </div>
                <div class="col-sm">
                        <img src="{% static 'images/39.png'%}" class='img-fluid' alt='Responsive image'>
                </div>
                <div class="col-sm">
                        <img src="{% static 'images/40.png'%}" class='img-fluid' alt='Responsive image'>
                </div>
        </div>
      <br>
              <div class="row">
                <div class="col-sm">
                        <img src="{% static 'images/41.png'%}" class='img-fluid' alt='Responsive image'>
                </div>
                <div class="col-sm">
                        <img src="{% static 'images/42.png'%}" class='img-fluid' alt='Responsive image'>
                </div>
                <div class="col-sm">
                        <img src="{% static 'images/43.png'%}" class='img-fluid' alt='Responsive image'>
                </div>
                <div class="col-sm">
                        <img src="{% static 'images/44.png'%}" class='img-fluid' alt='Responsive image'>
                </div>
                <div class="col-sm">
                        <img src="{% static 'images/45.png'%}" class='img-fluid' alt='Responsive image'>
                </div>
        </div>
      <br>
              <div class="row">
                <div class="col-sm">
                        <img src="{% static 'images/46.png'%}" class='img-fluid' alt='Responsive image'>
                </div>
                <div class="col-sm">
                        <img src="{% static 'images/47.png'%}" class='img-fluid' alt='Responsive image'>
                </div>
                <div class="col-sm">
                        <img src="{% static 'images/48.png'%}" class='img-fluid' alt='Responsive image'>
                </div>
                <div class="col-sm">
                        <img src="{% static 'images/49.png'%}" class='img-fluid' alt='Responsive image'>
                </div>
                <div class="col-sm">
                        <img src="{% static 'images/50.png'%}" class='img-fluid' alt='Responsive image'>
                </div>
        </div>
      <br>
                   <div class="row">
                <div class="col-sm">
                        <img src="{% static 'images/51.png'%}" class='img-fluid' alt='Responsive image'>
                </div>
                <div class="col-sm">
                        <img src="{% static 'images/53.png'%}" class='img-fluid' alt='Responsive image'>
                </div>
                <div class="col-sm">
                        
                </div>
                <div class="col-sm">
                        
                </div>
                <div class="col-sm">
                        
                </div>
        </div>
      <br>
</div>

