{% extends "base_generic.html" %}
{% block content %}
{% load static %}
<br>
<div class='container-fluid'>
  <div class='row'>
    <div class='col-2'>
      <div class= 'container-fluid'>
        <div class='list-group'>
          {% for observation in observation_list %}
            {% if forloop.first %}
              <div class="row">
            {% endif %}
              <div class='col-sm'>
                <a href="{{centroid}}&{{observation}}"  class='list-group-item'><p>Observation Key: {{key_observation}}</p> <p> Observation ID: {{observation}} </p></a> 
              </div>
              {% if forloop.counter|divisibleby:1 %}
                </div><div class="row">
              {% endif %}
              {% if forloop.last %}
                </div>
              {% endif %}
            {% endfor %}
          </div>      
        </div>
    </div>
    <div class='col-10 col-2 offset-2 position-fixed'>
      <div class='container-fluid'>
        <div class='row'>
          <div class='col-2'>
            <div class='row'>
              <div class='col-sm h-50'>
                <div class="card" style="width: 18rem;" id='current-observation'>
                  <img src="{% static 'images/' "" %}{{centroid}}.png" class='img-fluid' alt='Responsive image'>
                  <div class="card-body">
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">Centroid: {{centroid}}</li>
                      <li class="list-group-item">Observation: {{observation}}</li>
                      <li class="list-group-item">Key: {{key_observation}}</li>
                    </ul>
                  </div>
                  <div class="card-body">
                    <a href="{{hek_url}}" target="_blank" class="list-group-item">HEK URL</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class='col-lg'>
            <div class='row d-flex justify-content-center'>
              {{plot_graph|safe}}
            </div>
          </div>
        </div>
        <br>
        <div class= 'container-fluid'>
          <div class='row'>
            <div class='col'>
              {{plot_image_1400|safe}}
            </div>

        </div>
        </div>
      </div>
    </div>


{% endblock %}
