<br>

<div class="row">
    <div class="col">
        <div class="col-">
            <div class="card text-center text-white ml-1" id="centroid-not-done">
                <div class="card-header">
                    <h6 class="card-title">Centroid #1</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-">
            <div class="card text-center text-white ml-1" id="centroid-not-done">
                <div class="card-header">
                    <h6 class="card-title">Centroid #2</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-">
            <div class="card text-center text-white ml-1" id="centroid-not-done">
                <div class="card-header">
                    <h6 class="card-title">Centroid #3</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-">
            <div class="card text-center text-white ml-1" id="centroid-not-done">
                <div class="card-header">
                    <h6 class="card-title">Centroid #4</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-">
            <div class="card text-center text-white ml-1" id="centroid-not-done">
                <div class="card-header">
                    <h6 class="card-title">Centroid #5</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-">
            <div class="card text-center text-white ml-1" id="centroid-not-done">
                <div class="card-header">
                    <h6 class="card-title">Centroid #6</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-">
            <div class="card text-center text-white ml-1" id="centroid-not-done">
                <div class="card-header">
                    <h6 class="card-title">Centroid #7</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-">
            <div class="card text-center text-white ml-1" id="centroid-not-done">
                <div class="card-header">
                    <h6 class="card-title">Centroid #8</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-">
            <div class="card text-center text-white ml-1" id="centroid-not-done">
                <div class="card-header">
                    <h6 class="card-title">Centroid #9</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-">
            <div class="card text-center text-white ml-1" id="centroid-not-done">
                <div class="card-header">
                    <h6 class="card-title">Centroid #10</h6>
                </div>
            </div>
        </div>
    </div>
</div>

<br>

<div class="row">
    <div class="col">
        <div class="col-">
            <div class="card text-center text-white ml-1" id="centroid-not-done">
                <div class="card-header">
                    <h6 class="card-title">Centroid #11</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-">
            <div class="card text-center text-white ml-1" id="centroid-not-done">
                <div class="card-header">
                    <h6 class="card-title">Centroid #12</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-">
            <div class="card text-center text-white ml-1" id="centroid-not-done">
                <div class="card-header">
                    <h6 class="card-title">Centroid #13</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-">
            <div class="card text-center text-white ml-1" id="centroid-not-done">
                <div class="card-header">
                    <h6 class="card-title">Centroid #14</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-">
            <div class="card text-center text-white ml-1" id="centroid-not-done">
                <div class="card-header">
                    <h6 class="card-title">Centroid #15</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-">
            <div class="card text-center text-white ml-1" id="centroid-not-done">
                <div class="card-header">
                    <h6 class="card-title">Centroid #16</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-">
            <div class="card text-center text-white ml-1" id="centroid-not-done">
                <div class="card-header">
                    <h6 class="card-title">Centroid #17</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-">
            <div class="card text-center text-white ml-1" id="centroid-not-done">
                <div class="card-header">
                    <h6 class="card-title">Centroid #18</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-">
            <div class="card text-center text-white ml-1" id="centroid-not-done">
                <div class="card-header">
                    <h6 class="card-title">Centroid #19</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-">
            <div class="card text-center text-white ml-1" id="centroid-not-done">
                <div class="card-header">
                    <h6 class="card-title">Centroid #20</h6>
                </div>
            </div>
        </div>
    </div>
</div>

<br>

<div class="row">
    <div class="col">
        <div class="col-">
            <div class="card text-center text-white ml-1" id="centroid-not-done">
                <div class="card-header">
                    <h6 class="card-title">Centroid #31</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-">
            <div class="card text-center text-white ml-1" id="centroid-not-done">
                <div class="card-header">
                    <h6 class="card-title">Centroid #32</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-">
            <div class="card text-center text-white ml-1" id="centroid-not-done">
                <div class="card-header">
                    <h6 class="card-title">Centroid #33</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-">
            <div class="card text-center text-white ml-1" id="centroid-not-done">
                <div class="card-header">
                    <h6 class="card-title">Centroid #34</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-">
            <div class="card text-center text-white ml-1" id="centroid-not-done">
                <div class="card-header">
                    <h6 class="card-title">Centroid #35</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-">
            <div class="card text-center text-white ml-1" id="centroid-not-done">
                <div class="card-header">
                    <h6 class="card-title">Centroid #36</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-">
            <div class="card text-center text-white ml-1" id="centroid-not-done">
                <div class="card-header">
                    <h6 class="card-title">Centroid #37</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-">
            <div class="card text-center text-white ml-1" id="centroid-not-done">
                <div class="card-header">
                    <h6 class="card-title">Centroid #38</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-">
            <div class="card text-center text-white ml-1" id="centroid-not-done">
                <div class="card-header">
                    <h6 class="card-title">Centroid #39</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-">
            <div class="card text-center text-white ml-1" id="centroid-not-done">
                <div class="card-header">
                    <h6 class="card-title">Centroid #40</h6>
                </div>
            </div>
        </div>
    </div>
</div>

<br>


<div class="row">
    <div class="col">
        <div class="col-">
            <div class="card text-center text-white ml-1" id="centroid-not-done">
                <div class="card-header">
                    <h6 class="card-title">Centroid #41</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-">
            <div class="card text-center text-white ml-1" id="centroid-not-done">
                <div class="card-header">
                    <h6 class="card-title">Centroid #42</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-">
            <div class="card text-center text-white ml-1" id="centroid-not-done">
                <div class="card-header">
                    <h6 class="card-title">Centroid #43</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-">
            <div class="card text-center text-white ml-1" id="centroid-not-done">
                <div class="card-header">
                    <h6 class="card-title">Centroid #44</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-">
            <div class="card text-center text-white ml-1" id="centroid-not-done">
                <div class="card-header">
                    <h6 class="card-title">Centroid #45</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-">
            <div class="card text-center text-white ml-1" id="centroid-not-done">
                <div class="card-header">
                    <h6 class="card-title">Centroid #46</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-">
            <div class="card text-center text-white ml-1" id="centroid-not-done">
                <div class="card-header">
                    <h6 class="card-title">Centroid #47</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-">
            <div class="card text-center text-white ml-1" id="centroid-not-done">
                <div class="card-header">
                    <h6 class="card-title">Centroid #48</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-">
            <div class="card text-center text-white ml-1" id="centroid-not-done">
                <div class="card-header">
                    <h6 class="card-title">Centroid #49</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-">
            <div class="card text-center text-white ml-1" id="centroid-not-done">
                <div class="card-header">
                    <h6 class="card-title">Centroid #50</h6>
                </div>
            </div>
        </div>
    </div>
</div>

<br>

<div class="row">
    <div class="col">
        <div class="col-">
            <div class="card text-center text-white ml-1" id="centroid-not-done">
                <div class="card-header">
                    <h6 class="card-title">Centroid #51</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-">
            <div class="card text-center text-white ml-1" id="centroid-not-done">
                <div class="card-header">
                    <h6 class="card-title">Centroid #52</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-">
            <div class="card text-center text-white ml-1" id="centroid-not-done">
                <div class="card-header">
                    <h6 class="card-title">Centroid #53</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-">
            <div class="card text-center text-white ml-1" id="centroid-not-done">
                <div class="card-header">
                    <h6 class="card-title">Centroid #54</h6>
                </div>
            </div>
        </div>
    </div>

</div>