<br>

<div class="row">
    <div class="col">
        <div class="col-">
            <div class="card text-center text-white ml-1" id="centroid-not-done">
                <div class="card-header">
                    <h5 class="card-title">Centroid #1</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-">
            <div class="card text-center text-white ml-1" id="centroid-not-done">
                <div class="card-header">
                    <h5 class="card-title">Centroid #2</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-">
            <div class="card text-center text-white ml-1" id="centroid-not-done">
                <div class="card-header">
                    <h5 class="card-title">Centroid #3</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-">
            <div class="card text-center text-white ml-1" id="centroid-not-done">
                <div class="card-header">
                    <h5 class="card-title">Centroid #4</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-">
            <div class="card text-center text-white ml-1" id="centroid-not-done">
                <div class="card-header">
                    <h5 class="card-title">Centroid #5</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-">
            <div class="card text-center text-white ml-1" id="centroid-not-done">
                <div class="card-header">
                    <h5 class="card-title">Centroid #6</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-">
            <div class="card text-center text-white ml-1" id="centroid-not-done">
                <div class="card-header">
                    <h5 class="card-title">Centroid #7</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-">
            <div class="card text-center text-white ml-1" id="centroid-not-done">
                <div class="card-header">
                    <h5 class="card-title">Centroid #8</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-">
            <div class="card text-center text-white ml-1" id="centroid-not-done">
                <div class="card-header">
                    <h5 class="card-title">Centroid #9</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-">
            <div class="card text-center text-white ml-1" id="centroid-not-done">
                <div class="card-header">
                    <h5 class="card-title">Centroid #10</h5>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="row">
    <div class="col">
        <div class="col-">
            <div class="card text-center text-white ml-1" id="centroid-not-done">
                <div class="card-header">
                    <h5 class="card-title">Centroid #11</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-">
            <div class="card text-center text-white ml-1" id="centroid-not-done">
                <div class="card-header">
                    <h5 class="card-title">Centroid #12</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-">
            <div class="card text-center text-white ml-1" id="centroid-not-done">
                <div class="card-header">
                    <h5 class="card-title">Centroid #13</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-">
            <div class="card text-center text-white ml-1" id="centroid-not-done">
                <div class="card-header">
                    <h5 class="card-title">Centroid #14</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-">
            <div class="card text-center text-white ml-1" id="centroid-not-done">
                <div class="card-header">
                    <h5 class="card-title">Centroid #15</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-">
            <div class="card text-center text-white ml-1" id="centroid-not-done">
                <div class="card-header">
                    <h5 class="card-title">Centroid #16</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-">
            <div class="card text-center text-white ml-1" id="centroid-not-done">
                <div class="card-header">
                    <h5 class="card-title">Centroid #17</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-">
            <div class="card text-center text-white ml-1" id="centroid-not-done">
                <div class="card-header">
                    <h5 class="card-title">Centroid #18</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-">
            <div class="card text-center text-white ml-1" id="centroid-not-done">
                <div class="card-header">
                    <h5 class="card-title">Centroid #19</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-">
            <div class="card text-center text-white ml-1" id="centroid-not-done">
                <div class="card-header">
                    <h5 class="card-title">Centroid #20</h5>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="row">
    <div class="col">
        <div class="col-">
            <div class="card text-center text-white ml-1" id="centroid-not-done">
                <div class="card-header">
                    <h5 class="card-title">Centroid #11</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-">
            <div class="card text-center text-white ml-1" id="centroid-not-done">
                <div class="card-header">
                    <h5 class="card-title">Centroid #12</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-">
            <div class="card text-center text-white ml-1" id="centroid-not-done">
                <div class="card-header">
                    <h5 class="card-title">Centroid #13</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-">
            <div class="card text-center text-white ml-1" id="centroid-not-done">
                <div class="card-header">
                    <h5 class="card-title">Centroid #14</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-">
            <div class="card text-center text-white ml-1" id="centroid-not-done">
                <div class="card-header">
                    <h5 class="card-title">Centroid #15</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-">
            <div class="card text-center text-white ml-1" id="centroid-not-done">
                <div class="card-header">
                    <h5 class="card-title">Centroid #16</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-">
            <div class="card text-center text-white ml-1" id="centroid-not-done">
                <div class="card-header">
                    <h5 class="card-title">Centroid #17</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-">
            <div class="card text-center text-white ml-1" id="centroid-not-done">
                <div class="card-header">
                    <h5 class="card-title">Centroid #18</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-">
            <div class="card text-center text-white ml-1" id="centroid-not-done">
                <div class="card-header">
                    <h5 class="card-title">Centroid #19</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-">
            <div class="card text-center text-white ml-1" id="centroid-not-done">
                <div class="card-header">
                    <h5 class="card-title">Centroid #20</h5>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="row">
    <div class="col">
        <div class="col-">
            <div class="card text-center text-white ml-1" id="centroid-not-done">
                <div class="card-header">
                    <h5 class="card-title">Centroid #11</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-">
            <div class="card text-center text-white ml-1" id="centroid-not-done">
                <div class="card-header">
                    <h5 class="card-title">Centroid #12</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-">
            <div class="card text-center text-white ml-1" id="centroid-not-done">
                <div class="card-header">
                    <h5 class="card-title">Centroid #13</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-">
            <div class="card text-center text-white ml-1" id="centroid-not-done">
                <div class="card-header">
                    <h5 class="card-title">Centroid #14</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-">
            <div class="card text-center text-white ml-1" id="centroid-not-done">
                <div class="card-header">
                    <h5 class="card-title">Centroid #15</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-">
            <div class="card text-center text-white ml-1" id="centroid-not-done">
                <div class="card-header">
                    <h5 class="card-title">Centroid #16</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-">
            <div class="card text-center text-white ml-1" id="centroid-not-done">
                <div class="card-header">
                    <h5 class="card-title">Centroid #17</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-">
            <div class="card text-center text-white ml-1" id="centroid-not-done">
                <div class="card-header">
                    <h5 class="card-title">Centroid #18</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-">
            <div class="card text-center text-white ml-1" id="centroid-not-done">
                <div class="card-header">
                    <h5 class="card-title">Centroid #19</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-">
            <div class="card text-center text-white ml-1" id="centroid-not-done">
                <div class="card-header">
                    <h5 class="card-title">Centroid #20</h5>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="row">
    <div class="col">
        <div class="col-">
            <div class="card text-center text-white ml-1" id="centroid-not-done">
                <div class="card-header">
                    <h5 class="card-title">Centroid #11</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-">
            <div class="card text-center text-white ml-1" id="centroid-not-done">
                <div class="card-header">
                    <h5 class="card-title">Centroid #12</h5>
                </div>
            </div>
        </div>
    </div>
</div>