<br>
<div class='container-fluid'>
    <div class="row">
        <div class="col-4">
            <div class="col-sm">
                <div class="card text-center text-white" id="total-observations">
                    <div class="card-header">
                        <h5 class="card-title">Total available observations</h5>
                    </div>
                    <div class="card-body">
                        <h2 class='card-text'>{{num_observations}}</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="col-sm">
                <div class="card text-center text-white" id="total-centroids">
                    <div class="card-header">
                        <h5 class="card-title">Total available Centroids</h5>
                    </div>
                    <div class="card-body ">
                        <h2 class='card-text'>{{num_centroids}}</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="col-sm">
                <div class="card text-center text-white" id="total-timestamps">
                    <div class="card-header">
                        <h5 class="card-title">Total available Timesteps</h5>
                    </div>
                    <div class="card-body">
                        <h2 class='card-text'>{{num_timestepoberservations}}</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>