<br>

<div class="row">
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white ml-3" id="total-centroids">
                <div class="card-header">
                    <h5 class="card-title">Total available Centroids</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title"></h3>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white ml-3" id="total-observations">
                <div class="card-header">
                    <h5 class="card-title">Total available observations</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title"></h3>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white ml-3" id="time-period">
                <div class="card-header">
                    <h5 class="card-title">Time perdiod of observations</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title"></h3>
                </div>
            </div>
        </div>
    </div>

</div>